h1 {
    margin:auto;
    text-align: center;
}
.board {
    display: grid;
    height:600px;
    width:600px;
    grid-template-columns: auto auto auto;
    margin: auto;
}

.square {
    box-sizing:border-box;
    border: 1px groove black;
    height: 200px;
    width: 200px;
    background-color: grey;
}

a {
    margin:0;
    padding:0;
}

.x {
    background-color: blue;
}
.o {
    background-color: orange;
}
.about {
    margin:auto;
    margin-left:30%
}
.racket-logo {
    height: 120px;
    width: 120px;
    float:left;
    shape-outside: circle();
    margin-right:2em;
    margin-bottom:0.5em;
}

p {
    margin-right:10%;

}
